.hstack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
