.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: "100%";
}

.card {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.comment p {
  text-align: start;
  font-size: 12px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .card_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
